.navBar{
    /* margin-top: 20px; */
    padding-top: 100px;
}
/* .backBtn{
    width: 50px;
} */
.select{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #0078DD;
    border-radius: 4px;
    opacity: 1;  
    font: normal normal 400 16px/26px Open Sans;
    /* letter-spacing: 0.19px; */
    color: #006BD9;  
    float: right;
    margin-right: 30px;
}
.select:hover{
    border: 1px solid red;
    color: red;
}
.backBtn{
    width: 30px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.backBtn:hover{
    cursor:pointer;
    border: 1px solid;
}
.leftNaveTag{
    margin-left: 50px;
}
.eventInfo1{
    width: 90%;
    height: 400px;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
}
#venueInfo{
    width: 300px;
    height: 100%;
    /* border: 1px solid green;     */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    opacity: 1;
}
#venueImage{
    width: 100%;
    height: 48.5%;
}
.venueImg{
    width: 100%;
    /* margin: 0px 25px 0px 25px; */
    height: 100%;
}
.imgID{
    background-color: #EAEAEA;
    padding-left: 10px;
    font-size: 14px;
}
.vendorName,.vendorEmail{
    font-size: 12px;
    margin-left: 20px;
    color: #767676;
}
.dates{
    display: flex;
}
.startDate{
    margin: 0px 20px 0px 20px
}
.endDate{
    margin: 0px 10px 0px 10px;
}
.typeOfEvent{
    margin: 20px 20px 0px 20px;
    display: flex;
}
.type{
    margin: 0px 20px 0px 0px;
}
.eventInfo02{
    width: 500px;
    height: 100%;
    border: 1px solid;
    position: relative;
    margin: 0px 5px 0px 30px;
    /* right: 10px; */
}
.eventInfo02{
    padding: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    opacity: 1;
    box-shadow: 0px 3px 6px #00000029;
}
.eventInfo2{
    width: 90%;
    height: 260px;
    /* border: 1px solid red; */
    margin: 20px 10px 20px 75px;
    display: flex;
}
.eventInfo001{
   /* border: 1px solid; */
   width: 24%;
   margin: 20px 20px 0px 0px;
}
.eventInfo002{
   width: 40%;
   height: 240px;
   /* border: 1px solid; */
   box-shadow: 0px 3px 6px #00000029;
   margin: 20px 20px 20px 0px;
   padding: 20px;
}
.imgBoxes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    box-shadow: 0px 3px 6px #00000029;    
}
.imgAlum{
    width: 95%;
    height: 80px;
    /* border: 1px solid; */
    margin: 10px 10px 10px 0px;
    border-radius: 2px;
    opacity: 1;
    box-shadow: 0px 3px 6px #00000029; box-shadow: 0px 3px 6px #00000029;
}
.imgAlum img{
    width: 100%;
    height: 100%;
}
.imgAlum01{
    /* width: 75%;
    height: 80px; */
    /* border: 1px solid; */
    /* margin: 10px 10px 10px 0px;
    border-radius: 2px;
    opacity: 1;
    box-shadow: 0px 3px 6px #00000029; box-shadow: 0px 3px 6px #00000029; */
}
.imgAlum01 img{
    width: 50%;
    border-radius: 50px;
    margin:30px 0px 0px 40px
    /* height: 100%; */
}
.imgAlum01 p{
   /* padding-left: 10px; */
   font-size: 13px;
   /* line-height: 1; */
   text-align: center;
}