body{
    background-image: none;
}
.header{
    width: 100%;
    border: 1px solid;
    display: flex;
    position: fixed;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    opacity: 1;
    /* top: 0px; */
}
#name{
    color: #64A1F5;
}
.logo{
    clear: right;
    font-size: 25px;
    padding:10px;
    padding-left: 30px;
    color: #64A1F5;
}
.child{
    /* position: relative;
    left: 1100px;
    padding: 10px; */
    position: fixed;
    right: 80px;
    top: 10px;
}
.profile_img{
    width: 40px;
    border-radius: 50px;
}
.dropdown{
    position: relative;
    height: 5px;
    left: 105%;
    bottom: 40px;
}
